/* Write your CSS here */
.event-item-container {
  width: 47%;
  color: #ffffff;
  padding: 10px;
}

.list-button {
  background-color: transparent;
  border: none;
}

.event-image {
  width: 100%;
}
